- title "Tag Groups"

%table
  %tr
    %th Tag
    %th User
  - for tag_group in @tag_groups
    %tr
      %td= h tag_group.tag
      %td= h tag_group.user_id
      %td= link_to 'Show', tag_group
      %td= link_to 'Edit', edit_tag_group_path(tag_group)
      %td= link_to 'Destroy', tag_group, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Tag Group", new_tag_group_path
