#not_complete
  - current_user.tag_groups.ordered.each do |tg|
    - unless @todos.tagged_with(tg.tag).blank?
      %h2
        = link_to "#{tg.tag} (#{@todos.tagged_with(tg.tag).count})", '#', :class => 'select_tag_group tag_group_menu_trigger', :rel => tg.id  
      .tag_group= render @todos.tagged_with(tg.tag)

  - unless tag_groups_empty?
    %h2= link_to "and ze rest... (#{todos_without_tags.count})", '#', :class => 'select_tag_group'
  .tag_group= render todos_without_tags

- unless @completed.blank?
  #completed
    %h2= link_to "Completed", '#', :id => 'complete_toggle' 
    .list= render @completed
