- if todo.completed_at
  .completed
    %span.completed_at= todo.completed_at.to_s(:short)
    %span.completed_by= (todo.completed_by == current_user) ? '[me]' : "[#{todo.completed_by.login}]"
    %span.label= link_to todo.label, '#', :title => todo.tag_list
    %span.undo= link_to image_tag("icons/undo.png", :title => "uncheck", :class => "icon"), '#', :class => 'uncheck_todo', :rel => uncheck_todo_path(todo)
    %span.trash= link_to image_tag("icons/trash_on.png", :title => "delete todo", :class => "icon"), '#', :class => 'delete_todo', :rel => delete_todo_path(todo)
    %span.note= show_notes(todo)
- else
  .todo{:id => "cb_todo_#{todo.id}", 'todo:id' => todo.id, :class => todo_css(todo)}
    - form_for todo, :html => {:class => 'complete_todo_form'} do |f|
      #left_pane
        .col_select.col
          &nbsp;
        .col_move.col
          = image_tag "icons/move.jpg", :title => "move", :class => "handle icon" if todo.active
        .col_cb.col
          - if todo.waiting_since
            = show_waiting(todo)
          = f.check_box :completed, :class => "todo_checkbox #{todo_cb_css(todo)}"
        .col_label.col
          .label= f.label todo.id, todo.label, :class => "todo_label #{'fieldWithErrors' unless @todo.errors.empty?}", :rel => edit_todo_path(todo)
        .col_tags.col
          .tags
            - todo.tag_list.each do |tag|
              .tag{:class => "tag_filter #{tag_css(tag)}" , :rel => "#{tag_rel_url(todo, tag)}"}
                = tag

      #right_pane
        .col_scheduled.col= show_scheduled(todo)
        .col_due.col= show_due_date(todo)
        .col_wait.col
          = show_waiting(todo)
        .col_trash.col= link_to image_tag("icons/trash_on.png", :title => "delete todo", :class => "icon"), '#', :class => 'delete_todo', :rel => delete_todo_path(todo)
        .col_notes.col
          = show_notes(todo)
