- if todo.completed_at
  .completed
    %span.completed_at= todo.completed_at.to_s(:short)
    %span.completed_by= (todo.completed_by == current_user) ? '[me]' : "[#{todo.completed_by.login}]"
    %span.label= link_to todo.label, '#', :title => todo.tag_list
    %span.undo= link_to image_tag("icons/undo.png", :title => "uncheck", :class => "icon"), '#', :class => 'uncheck_todo', :rel => uncheck_todo_path(todo)
    %span.trash= link_to image_tag("icons/trash_on.png", :title => "delete todo", :class => "icon"), '#', :class => 'delete_todo', :rel => delete_todo_path(todo)
    %span.note= show_notes(todo)
- else
  .todo(id="cb_todo_#{todo.id}")
    - form_for todo, :html => {:class => 'complete_todo_form'} do |f|
      .col_move.col
        = image_tag "icons/move.jpg", :title => "move", :class => "handle icon"
      .col_cb.col
        = f.check_box :completed, :class => 'todo_checkbox' 
      .col_label.col
        .label= f.label todo.id, todo.label, :class => "todo_label #{'fieldWithErrors' unless @todo.errors.empty?}", :rel => edit_todo_path(todo)
      = show_due_date(todo)
      .col_notes.col
        = show_notes(todo)
      .col_tags.col
        .tags
          - todo.tag_list.each do |tag|
            .tag{:style => "background: #{tag_background(tag)} center left no-repeat", :class => 'tag_filter' , :rel => "#{tag_rel_url(todo, tag)}"}
              = tag

