- title "Todopia"
- print_title "Todopia (#{current_user.login} @ #{Date.today})"


- content_for :toolbar do
  = render :partial => "layouts/toolbar_todo"

#todo
  #new.dialog= render :partial => 'form'
  #flash= render :partial => "layouts/flash"
  #index= render 'list'
  #docs= render :partial => 'docs'
  #bottom_panel= render :partial => 'bottom_panel'
  = render :partial => 'context_menus'
  
  #urls{'url:move_todo' => move_user_todos_path(current_user), 'url:reorder_todos' => reorder_user_todos_path(current_user), 'url:tag_search' => user_tags_path(@user), 'url:todo_reload' => reload_user_todos_path(@user)}

:javascript
  $(function(){
    #{'new_todo();' if current_user.todos.not_complete.empty?}
  })
  