- content_for :head do
  = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js', 'jquery.hotkeys'
  = stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.custom', :cache => true

#todo
  - title "Todopia"

  #new.dialog= render :partial => 'form'

  #flash= render :partial => "layouts/flash"
  
  #index= render 'list'
    
  #docs
    %p 
      %u Keyboard Shortcuts
    .sc 
      %b ctrl+n 
      toggles new todo panel
    .sc 
      %b f 
      takes you to first checkbox
    .sc
      %b space
      marks as complete
    .sc 
      %b e
      edits selected item
    .sc
      %b n
      create/view notes & history
    %p 
      %u Also...
    .sc Click tag(s) to filter
    .sc Click completed item to delete
    .sc Drag to move to reposition    
  
  #urls
    .tag_search{:rel => "#{user_tags_path(@user)}"}
    .todo_index{:rel => "#{user_todos_path(@user)}"}
