- title "Todopia - Log in"

- content_for :toolbar do
  = render :partial => "layouts/toolbar_public"

#user_session
  #flash= render :partial => "layouts/flash"
  #new
    - semantic_form_for @user_session do |f|
      - f.inputs do
        = f.input :login, :label => 'Username'
        = f.input :password, :label => 'Password', :as => :password 
        = f.input :remember_me, :label => 'Remember Me?', :as => :boolean, :required => false
  
      - f.buttons do
        = f.commit_button 'Login'
        
      .forgot_password
        = link_to "Forgot username or password?", new_reset_password_path
        
  #fun_stuff
    %h3 New Fun Stuff
    %ul
      %li Schedule a todo in the future by tagging "starts DATE..."
      %li Create a group by prefacing a tag with !
      %li Drag/drop todos into groups 
      %li Click the clock or hit "w" if waiting on someone/thing to complete
      %li Enter a tag with a # then number (e.g. #1, #2) to set a priority
      %li Enter a due date as a tag (e.g. tomorrow, 2 days from now, 5/15/2010)
      %li "c" creates a new todo, escape cancels
      %li "#" now deletes a todo
  

