- title "#{@user.login}'s Account"

- content_for :toolbar do
  = render :partial => "layouts/toolbar_non_todo"

#user
  #edit
    - semantic_form_for @user do |f|
      - f.inputs do
        = "Username: <b>#{@user.login}"
        = f.input :email, :label => 'Email'
        = f.input :email_daily_summary, :label => 'Email daily summary' 
        = f.input :email_summary_only_when_todos_due, :label => 'Only email daily summary if items are due or past due' 
        
      - f.buttons do
        = f.commit_button 'Update'