!!! Strict
%html{html_attrs}
  
  %head
    %title
      = h(yield(:title) || "Todopia")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    %link{ :href => "/images/icons/favicon.ico", :rel => "icon", :type => "image/x-icon" }
    = stylesheet_link_tag 'compiled/public.css', :media => 'screen'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print' 
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", 'jquery.livequery', 'jquery.form', 'jquery.cookie', 'facebox', 'jquery.labelify', 'jquery.contextMenu', 'flash', 'GrowingInput', 'TextboxList', 'TextboxList.Autocomplete', 'jquery.qtip-1.0.0-rc3.min'
    = javascript_include_tag 'controllers/public/tag_groups', 'application', "controllers/#{params[:controller]}"
    = javascript_tag "var AUTH_TOKEN = encodeURIComponent(#{form_authenticity_token.inspect});" if protect_against_forgery?
        
    = yield(:head)
  
  %body
    #toolbar= render :partial => "layouts/toolbar"
        
    #container
      = yield

    = render :partial => 'layouts/uservoice'
